* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table {
  background: green;
  height: 120px;
  width: 520px;
}

#numbersContainer {
  list-style: none;
  width: 520px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
}
.number {
  position: relative;
  font-weight: bolder;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 6px;
  height: 6px;
  cursor: pointer;
  user-select: none;
}

.number-zero {
  background: green;
}

.number-even {
  background: red;
}
.number-odd {
  background: black;
}

.number-selected:after {
  position: absolute;
  right: 3px;
  bottom: 3px;
  height: 12px;
  width: 12px;
  content: "";
  display: block;
  background: gold;
  border-radius: 50%;
}
